.layout {
  display: grid;
  grid-template-columns: 275px 1fr 350px; /* Navbar | Main | Sidebar */
  max-width: 1265px;
  margin: 0 auto;
  min-height: 100vh;
}
.mainContent {
  border-left: 1px solid #eff3f4;
  border-right: 1px solid #eff3f4;
}