/* src/components/Tweet.module.css */
.tweetContainer {
  display: flex;
  padding: 1rem;
  border-bottom: 1px solid #eff3f4;
}
.avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #ccd6dd;
  margin-right: 1rem;
}
.tweetContent {
  width: 100%;
}
.header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.fullName {
  font-weight: bold;
  color: #14171a;
}
.username, .dot, .timestamp {
  color: #657786;
}
.content {
  margin: 0.5rem 0;
  line-height: 1.5;
  color: #14171a;
  white-space: pre-wrap; /* Respeta los saltos de línea */
}